:root {
  --background-primary: #000;
  --background-secondary: #050505;
  --background-secondary-alt: #000;
  --background-tertiary: #080808;

  --channeltextarea-background: #080808;
  --background-message-hover: rgba(255,255,255,0.025);

  --background-accent: #111;
  --background-floating: #080808;
}