:root {
  --background-primary: #000;
  --background-secondary: #050505;
  --background-secondary-alt: #000;
  --background-tertiary: #080808;

  --channeltextarea-background: #080808;
  --background-message-hover: rgba(255,255,255,0.025);

  --background-accent: #111;
  --background-floating: #080808;

  --brand-experiment: #FD6671;

  --text-link: var(--brand-experiment);
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
}